body {
  background: #f4f4f4;
  font-family: Arial;
}

nav {
  background: blue;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
}

.card {
  background: white;
  padding: 15px;
  margin: 15px;
}

.btn {
  background: green;
  color: white;
  padding: 10px;
}